{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Editar {% endblock %}

{% block main %}

<form action="" method="post">
    {%csrf_token%}
    {{form|bootstrap}} <br>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>
<br>
    {% if object %}
        <a href="{% url 'create_documento' object.id %}" class="btn btn-primary btn-lg ">Adicionar Documento</a>
    {% endif %}

<br>
<!--Documentos relacionados ao funcionario-->
<table class="table" >
    <h3 style="padding-top: 30px;">Documentos Relacionados</h3>
    {% for documento in object.documento_set.all %}
    <tbody>
        <tr>
            <th scope="row">{{documento}}</th>
            <td><a href="{{documento.arquivo.url}}">Link</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{%endblock%}